@page
@model SearchAllModel
@{
}

<h2>IJF Search</h2>
<p>
    <a href="SearchAll/">Search All</a>
</p>

<form class="form-horizontal" method="post">
    <div class="form-group">
        <label for="Module" class="col-sm-2 control-label">Module</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Module" value="competition">
        </div>
    </div>
    <div class="form-group">
        <label for="SearchQuery" class="col-sm-2 control-label">Search Query</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="search_query" value="Cvjetko">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Search</button>
        </div>
    </div>
</form>

<table>
    <thead>
        <tr>
            <th>Module</th>
            <th>Label</th>
            <th>Value</th>
            <th>Id</th>
        </tr>
    </thead>
    @if (Model.SearchAllResults != null)
    {
        <tbody>
            @foreach (var item in Model.SearchAllResults)
            {
                <tr>
                    <td>@item.Module</td>
                    <td>@item.Label</td>
                    <td>@item.Value</td>
                    <td>@item.Id</td>
                    <!--
                    <td><a asp-page="./Edit" asp-route-id="@item.Id">Edit</a></td>
                    <td><a asp-page="./Delete" asp-route-id="@item.Id">Delete</a></td>
                    -->
                </tr>
            }
        </tbody>
    }
</table>

<form class="form-horizontal" method="get">
    <div class="form-group">
        <label for="Module" class="col-sm-2 control-label">Module</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Module" value="competition">
        </div>
    </div>
    <div class="form-group">
        <label for="SearchQuery" class="col-sm-2 control-label">Search Query</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="search_query" value="Cvjetko">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Search</button>
        </div>
    </div>
</form>